* {
    font-family: "Segoe UI";
    margin: 0;
}

.cell, .neighbour, .zero {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 28px;
    display: flex;
    margin: -1px -1px 0 0;
    text-align: center;
    vertical-align: middle;
}

.cell {
    background-color: pink;
}

.neighbour {
    background-color: #40e0d0;
    cursor: pointer;
}

.zero {
    background-color: #d3d3d3;
}

.centreSpan{
    margin: auto;
}

.row {
    display: flex;
    margin: auto;
}

.moves {
    font-size: 24px;
    margin: auto;
}

.boardAndButtons{
    margin: auto;
    display: flex;
    width: 100%;
}

.new, .undoReset, .puzzle {
    margin: auto;
    width: 33%;
    text-align: center;
    font-size: 32px;
}

.puzzle {
    display: flex;
    flex-direction: column;
}

.undoReset {
    display: flex;
}

.undoReset div {
    margin: auto;
}

.app {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #e6e6fa;
}

.button {
    cursor: pointer;
    color: black;
    background-color: #e6e6fa;
    transition: color 500ms, background-color 500ms;
    padding: 10px;
}

.button:hover {
    color: #e6e6fa;
    background-color: black;
}